body {
    margin: 0px auto;
    Padding: 15px;
    color: #F9FAF8;
    max-width: 1200px;
    background-color: #e2e3e3;
}

/* Header Section */
#Header{
    background-color: #1F2937;
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
}

.headerTitle{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
    margin-bottom: 0;
}

.headerTitle h1{
    margin: 0;
}

.headerParagraph, .headerLinks, .headerButton{
    font-size:18px;
    color:#E5E7EB;
}

.headerParagraph{
    padding-top: 0px;
}

.headerButton {
    margin: 15px 0;
    padding: 10px 15px;
    background-color: #3882F6;
    border-radius: 10px;
    box-shadow: 0px 5px 0px #1c1a1a;
}


.headerLinks {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content:end;
    color:#E5E7EB;

}

.headerLinks a {
    color: #E5E7EB;
    text-decoration: none;
}

.headerLinks a:hover {
    color: #F9FAF8;
}

.headerLogo {
    Float:right;
    margin-top: 5px;
}

.headerLogo img{
    height: 250px;
    width:  auto;
}


/* Content Section */
#contentSection{
    padding: 20px 20px;
    background-color: #F9FAF8;
    color:#1c1a1a;
}

.navHeader{
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.monthly img{
    height: 250px; 
    width: auto;
}